#post{
    display: flex;
    gap: 8%;
}#post1{
    background-color: black;
    /* border: 1px solid red; */
    flex: 30%;
    height: 520px;
    margin-left: 8%;
}#post2{
    flex: 60%;
    /* border: 1px solid green; */
    height: 400px;
   
}#post2 div{
    margin-top: 3%;
}
#post2a{
    display: flex;
    justify-content: space-around;
    /* border: 1px solid red; */
}#post2a button{
    height: 30px;
    border-radius: 20px;
    margin-top: 10%;
}#post2b{
    height: 35px;
    background-color: black;
    color: white;
    width: 15%;
    border-radius: 20px;
}#post2c{
    display: flex;
    justify-content: space-around;
} #post2c button{
    height: 30px;
    width:100px;
    margin-left: 40%;
    border-radius: 20px;
    margin-top: 10%;
}#post1a{
    /* border: 1px solid red; */
    height: 100px;
    color: white;
}#post1 div{
    color: white;
    margin-top: 8%;
    margin-left: 8%;
}#post2b a{
    color: antiquewhite;
    text-decoration: none;

}#m a{
    color: white;
    text-decoration: none;
}